<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!--看源码得知，创建web applicationContext时，需要context_param,以及之下的CONFIG_LOCATION_PARAM和CONTEXT_CLASS_PARAM-->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <!--当tomcat启动时，就会加载此文件，然后创建一个WebApplicationContext-->
        <param-value>classpath:applicationContext.xml</param-value>
    </context-param>
    <!--使用监听器，自动加载applicationContext.xml文件-->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
</web-app>