<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--    &lt;!&ndash;-->
    <!--        id表示：需要获取对象的标识-->
    <!--        class表示：需要创建具体哪个类的对象-->
    <!--    &ndash;&gt;-->
    <!--    <bean id="account" class="com.geng.pojo.Account"/>-->
    <!--    <bean id="log" class="com.geng.pojo.Log"/>-->
    <!--Spring代替mybatis配置数据源-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/ssm"/>
        <property name="username" value="root"/>
        <property name="password" value="123456"/>
    </bean>
    <!--将数据源放入sqlSessionFactory中-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!--配置mybatis包路径下class的扫描-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--扫描该包下的所有类或者接口等-->
        <property name="basePackage" value="com.geng.mapper"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>

    <!--accountService-->
    <bean id="accountService" class="com.geng.service.impl.AccountServiceImpl">
        <property name="accountMapper" ref="accountMapper"></property>
        <property name="logMapper" ref="logMapper"></property>
    </bean>
    <!--logService-->
    <bean id="logService" class="com.geng.service.impl.LogServiceImpl">
        <property name="logMapper" ref="logMapper"></property>
    </bean>
</beans>